Procesamiento de datos del segundo fomulario. El que hice en Exactas y Fadu con aprox 15 personas en casa uno. 

Los datos originales estan aca:

https://github.com/IoniUTDT/Magia/tree/master/PilotoFacuFadu

In [1]:
import pandas as pd
from IPython.display import display
import seaborn as sns
import matplotlib.pyplot as plt
from scripts.constants_Exp2 import *

In [2]:
C_Edades

{'1_1_0': 'Menos 5',
 '1_1_1': '5 a 12',
 '1_1_2': '13 a 17',
 '1_1_3': '18 a 24',
 '1_1_4': '25 a 40',
 '1_1_5': '40 Mas'}

In [1]:
data_Piloto02 = pd.read_csv('/home/ionatan/Codigos/Magia/Resultados/Piloto02 (Facu+Fadu).csv')

display (data_Piloto02.columns)

NameError: name 'pd' is not defined

In [29]:
data = pd.read_csv('/home/ionatan/Codigos/Magia/Resultados/Piloto02 (Facu+Fadu).csv')

resumen = pd.DataFrame()

# Transformamos la edad en una columna
edades = data[list(Codigos_Edades.keys())]
edades = edades.stack()
edades = edades[edades==1]
edades = edades.reset_index()
edades = edades.rename (columns = {'level_0':'IdSujeto','level_1':'Edad'})
edades = edades.replace({'Edad':Codigos_Edades})

# Anexamos las edades al resumen
resumen = edades

# Transformamos la edad en una columna
edades = data[list(Codigos_Edades.keys())]
edades = edades.stack()
edades = edades[edades==1]
edades = edades.reset_index()
edades = edades.rename (columns = {'level_0':'IdSujeto','level_1':'Edad'})
edades = edades.replace({'Edad':Codigos_Edades})


# Transformamos las profesiones en una columna y agregamos si es exacta, afin o no. 


# #data_Konex = data_Konex[data_Konex.sum(axis=1) - data_Konex["Confianza"] == 3] # Esta linea elimina a todos los que no marcaron una y solo una de las opciones como correctas en cada pregunta
# data_Konex = data_Konex[data_Konex[list(dict_KonexFormacion.values())].sum(axis=1) == 1] # Esta linea elimina a todos los que no marcaron una y solo una de las opciones como correctas en cada pregunta
# data_Konex = data_Konex[data_Konex[list(dict_KonexExplicaciones.values())].sum(axis=1) == 1] # Esta linea elimina a todos los que no marcaron una y solo una de las opciones como correctas en cada pregunta
# data_Konex = data_Konex[data_Konex[list(dict_KonexTruco.values())].sum(axis=1) == 1] # Esta linea elimina a todos los que no marcaron una y solo una de las opciones como correctas en cada pregunta

# pepe = data_Konex.stack()
# pepe = pepe[(pepe==1) | (pepe.index.get_level_values(1)=="Confianza")]
# pepe = pepe.reset_index()
# pepe = pepe.rename(columns={'level_0':'IdSujeto','level_1':'valorElegido'})

# pepe["NombreColumna"] = pepe.index.map(lambda x: x % 4)
# pepe['NombreColumna'].replace([0,1,2,3],['Formacion','Mecanismo','Confianza','Truco'], inplace=True)
# condicion = pepe['NombreColumna']=='Confianza'
# pepe.loc[condicion,['valorElegido']] = pepe.loc[condicion,[0]].values 

# TablaFinal = pepe.pivot(index="IdSujeto", columns="NombreColumna", values="valorElegido")

   IdSujeto   Edad  0
0         0  1_1_3  1
1         1  1_1_3  1
2         2  1_1_3  1
3         3  1_1_4  1
4         4  1_1_3  1

[5 rows x 3 columns]

   IdSujeto     Edad  0
0         0  18 a 24  1
1         1  18 a 24  1
2         2  18 a 24  1
3         3  25 a 40  1
4         4  18 a 24  1

[5 rows x 3 columns]

          IdSujeto     Edad  0
IdSujeto
0                0  18 a 24  1
1                1  18 a 24  1
2                2  18 a 24  1
3                3  25 a 40  1
4                4  18 a 24  1

[5 rows x 3 columns]