El proyecto Magia es un proyecto que busca medir como responde la gente frente a una situacion novedosa y dificil de explicar en terminos fisicos. La idea es hacer un "truco" (el del buzo en una botella de agua) donde no es obvio porque el globo sube o baja, disfrazado de algo "sorprendente" y pedirle a la gente que complete una encuesta sobre que cree que esta pasando. Buscamos ver cuanto inventa la gente y con que sesgo en funcion de su formacion profesional. 

Los datos de la encuesta son levantados automaticamente mediante el sotware sdaps que genera los formularios y despues mediante escaneo los procesa en bloque sin necesidad de pasar los datos a manos a una compu. Del programa se puede exportar un csv con los datos en bruto. Donde a cada entrada le corresponde una encuesta completada.

In [23]:
import pandas as pd
from IPython.display import display
import seaborn as sns
import matplotlib.pyplot as plt

In [24]:
Codigos_Edades = {'1_1_0':'Menos 5',
                  '1_1_1':'5 a 12',
                  '1_1_2':'13 a 17',
                  '1_1_3':'18 a 24',
                  '1_1_4':'25 a 40',
                  '1_1_5':'40 Mas'
            }
Codigos_Profesion = {'2_1_0':'Psicologia',
                  '2_1_1':'Bio/Qui/Geo/Paleo',
                  '2_1_2':'Prof/Docencia',
                  '2_1_3':'Medicas',
                  '2_1_4':'Arq/Diseño',
                  '2_1_5':'Fisica',
                  '2_1_6':'Musica',
                  '2_1_7':'Turismo',
                  '2_1_8':'Derecho',
                  '2_1_9':'Mate/Comp/Sistemas',
                  '2_1_10':'Farm. y Bioq.',
                  '2_1_11':'Artes Plasticas',
                  '2_1_12':'Letras',
                  '2_1_13':'Agro./Vet.',
                  '2_1_14':'Danzas/Deportes',
                  '2_1_15':'Ingenierias',
                  '2_1_16':'Cs. Sociales',
                  '2_1_17':'Gastronomia',
                  '2_1_18':'Marketing/Publicidad',
                  '2_1_19':'Cs. Economicas',
                  '2_1_20':'OpcionLibre'
                    }

Codigos_Exactas = ['2_1_1','2_1_5','2_1_9','2_1_15']
Codigos_Afines = ['2_1_3','2_1_4','2_1_10','2_1_13','2_1_2']
Codigos_NoAfines = ['2_1_0','2_1_6','2_1_7','2_1_8','2_1_11','2_1_12',
                    '2_1_14','2_1_16','2_1_17','2_1_18','2_1_19','2_1_20']

Codigos_NivelFormacion = {'1_3_0':'Primaria','1_3_1':'Secundaria','1_3_2':'Terciario',
                          '1_3_3':'UniversidadCompleta','1_3_4':'UniversidadCurso','1_3_5':'Posgrado'}
Codigos_Mecanismo1 = {'2_1_0':'Calor','2_1_1':'Telekinesis','2_1_2':'Magnetismo','2_1_3':'EnergiaCosmica',
                     '2_1_4':'FisicaCuantica','2_1_5':'Presion','2_1_6':'Aura Corporal','2_1_7':'Electricidad',
                     '2_1_8':'No lo se'}

Codigos_Confianza = {'2_2':'Confianza'}

Codigos_Mecanismo2 = {'2_3_0':'Calor','2_3_1':'Telekinesis','2_3_2':'Magnetismo','2_3_3':'EnergiaCosmica',
                     '2_3_4':'FisicaCuantica','2_3_5':'Presion','2_3_6':'Aura Corporal','2_3_7':'Electricidad',
                     '2_3_8':'CampoLibre'}

Codigos_Relevancia = {'2_4':'Relevancia Mano'}

Codigos_Mecanismo3 = {'3_1_0':'Calor','3_1_1':'Telekinesis','3_1_2':'Magnetismo','3_1_3':'EnergiaCosmica',
                     '3_1_4':'FisicaCuantica','3_1_5':'Presion','3_1_6':'Aura Corporal','3_1_7':'Electricidad',
                     '3_1_8':'No lo se'}

Codigos_Confianza2 = {'3_2':'Confianza'}
Codigos_Truco = {'3_3_0' : 'Si', '3_3_1' : 'No', '3_3_2' : 'No se'}

Codigos_Intereses = {'4_1_1' : 'Bailar', '4_1_2' : 'Cocinar', '4_1_3' : 'Matematica', '4_1_4' : 'Pelis/Series', 
                    '4_1_5' : 'Construir', '4_1_6' : 'Oficina', '4_1_7' : 'Tarot', '4_1_8' : 'Literatura',
                    '4_1_9' : 'Religion', '4_1_10' : 'Reparar', '4_1_11' : 'Programar' , '4_1_12' : 'Correr',
                    '4_1_13' : 'Acertijos', '4_1_14' : 'Astrologia', '4_1_15' : 'Deportes Equipo', '4_1_16' : 'Debatir',
                    '4_1_17' : 'Magia', '4_1_18' : 'Electronica'}

EscalaIntereses = [0,1,2,3,4]

In [3]:
data_Piloto02 = pd.read_csv('/home/ionatan/Codigos/Magia/Resultados/Piloto02 (Facu+Fadu).csv')

display (data_Piloto02.columns)

Index(['questionnaire_id', 'global_id', '1_1_0', '1_1_1', '1_1_2', '1_1_3', '1_1_4', '1_1_5', '1_2_0', '1_2_1', '1_2_2', '1_2_3', '1_2_4', '1_2_5', '1_2_6', '1_2_7', '1_2_8', '1_2_9', '1_2_10', '1_2_11', '1_2_12', '1_2_13', '1_2_14', '1_2_15', '1_2_16', '1_2_17', '1_2_18', '1_2_19', '1_2_20', '1_3_0', '1_3_1', '1_3_2', '1_3_3', '1_3_4', '1_3_5', '2_1_0', '2_1_1', '2_1_2', '2_1_3', '2_1_4', '2_1_5', '2_1_6', '2_1_7', '2_1_8', '2_2', '2_3_0', '2_3_1', '2_3_2', '2_3_3', '2_3_4', '2_3_5', '2_3_6', '2_3_7', '2_3_8', '2_4', '3_1_0', '3_1_1', '3_1_2', '3_1_3', '3_1_4', '3_1_5', '3_1_6', '3_1_7', '3_1_8', '3_2', '3_3_0', '3_3_1', '3_3_2', '4_1_1_0', '4_1_1_1', '4_1_1_2', '4_1_1_3', '4_1_1_4', '4_1_2_0', '4_1_2_1', '4_1_2_2', '4_1_2_3', '4_1_2_4', '4_1_3_0', '4_1_3_1', '4_1_3_2', '4_1_3_3', '4_1_3_4', '4_1_4_0', '4_1_4_1', '4_1_4_2', '4_1_4_3', '4_1_4_4', '4_1_5_0', '4_1_5_1', '4_1_5_2', '4_1_5_3', '4_1_5_4', '4_1_6_0', '4_1_6_1', '4_1_6_2', '4_1_6_3', '4_1_6_4', '4_1_7_0', '4_1_7_1', ...], dtype='object')

In [29]:
data = pd.read_csv('/home/ionatan/Codigos/Magia/Resultados/Piloto02 (Facu+Fadu).csv')

resumen = pd.DataFrame()

# Transformamos la edad en una columna
edades = data[list(Codigos_Edades.keys())]
edades = edades.stack()
edades = edades[edades==1]
edades = edades.reset_index()
edades = edades.rename (columns = {'level_0':'IdSujeto','level_1':'Edad'})
edades = edades.replace({'Edad':Codigos_Edades})

# Anexamos las edades al resumen
resumen = edades

# Transformamos la edad en una columna
edades = data[list(Codigos_Edades.keys())]
edades = edades.stack()
edades = edades[edades==1]
edades = edades.reset_index()
edades = edades.rename (columns = {'level_0':'IdSujeto','level_1':'Edad'})
edades = edades.replace({'Edad':Codigos_Edades})


# Transformamos las profesiones en una columna y agregamos si es exacta, afin o no. 


# #data_Konex = data_Konex[data_Konex.sum(axis=1) - data_Konex["Confianza"] == 3] # Esta linea elimina a todos los que no marcaron una y solo una de las opciones como correctas en cada pregunta
# data_Konex = data_Konex[data_Konex[list(dict_KonexFormacion.values())].sum(axis=1) == 1] # Esta linea elimina a todos los que no marcaron una y solo una de las opciones como correctas en cada pregunta
# data_Konex = data_Konex[data_Konex[list(dict_KonexExplicaciones.values())].sum(axis=1) == 1] # Esta linea elimina a todos los que no marcaron una y solo una de las opciones como correctas en cada pregunta
# data_Konex = data_Konex[data_Konex[list(dict_KonexTruco.values())].sum(axis=1) == 1] # Esta linea elimina a todos los que no marcaron una y solo una de las opciones como correctas en cada pregunta

# pepe = data_Konex.stack()
# pepe = pepe[(pepe==1) | (pepe.index.get_level_values(1)=="Confianza")]
# pepe = pepe.reset_index()
# pepe = pepe.rename(columns={'level_0':'IdSujeto','level_1':'valorElegido'})

# pepe["NombreColumna"] = pepe.index.map(lambda x: x % 4)
# pepe['NombreColumna'].replace([0,1,2,3],['Formacion','Mecanismo','Confianza','Truco'], inplace=True)
# condicion = pepe['NombreColumna']=='Confianza'
# pepe.loc[condicion,['valorElegido']] = pepe.loc[condicion,[0]].values 

# TablaFinal = pepe.pivot(index="IdSujeto", columns="NombreColumna", values="valorElegido")

   IdSujeto   Edad  0
0         0  1_1_3  1
1         1  1_1_3  1
2         2  1_1_3  1
3         3  1_1_4  1
4         4  1_1_3  1

[5 rows x 3 columns]

   IdSujeto     Edad  0
0         0  18 a 24  1
1         1  18 a 24  1
2         2  18 a 24  1
3         3  25 a 40  1
4         4  18 a 24  1

[5 rows x 3 columns]

          IdSujeto     Edad  0
IdSujeto
0                0  18 a 24  1
1                1  18 a 24  1
2                2  18 a 24  1
3                3  25 a 40  1
4                4  18 a 24  1

[5 rows x 3 columns]